name: latest
on:
  # push:
  #   branches:
  #     - master
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:unstable
      volumes:
        - /proc:/proc
      options: --privileged
    steps:
      - name: Clone build scripts
        uses: actions/checkout@v1
      - name: Build OSTree commit & sync to S3
        run: |
          ./workflows.sh ./.env
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
